.Open  {
    color :  red;
}
.InProgress  {
    color : blue;
}
.Resolved {
    color : green
}

.Open select {
    color : red
}

.InProgress select{
    color : blue;
}

.Resolved select {
    color : green
}

.tableBody td , th {
    text-align: center;
    padding : 1% 5% ;
    font-size: 14px;
    
}

.prevbtn {
    background-color: transparent;
    color : #faad05;
    border : none;
}

.prevbtn:hover {
     text-decoration: underline;
}

.prevbtn:focus {
    outline : none;
}