.Open  {
    color :  red;
}
.InProgress  {
    color : blue;
}
.Resolved {
    color : green
}

.Open select {
    color : red
}

.InProgress select{
    color : blue;
}

.Resolved select {
    color : green
}

.tableBody td , th {
    text-align: center;
    padding : 1% 5% ;
    font-size: 14px;
    
}

