.container {
    height : 100%;
    padding : 2%;
}

.issueid {
    font-style : italic;
    font-weight : 500;
    color : rgb(175, 168, 168)
}
.issueTitle {
    margin : 2% 0;

}

.metaInfo {
    display : flex;
    flex-wrap: wrap;
}

.metaInfo * {
    flex-basis : 50%;
    font-size: 17px;
    margin : 2% 0;
}

.metaInfo div h5{
   color : rgb(161, 157, 157)
   
}

.editbtn {
     position : relative;
     left : 80%;
     font-size: 15px;
     padding: 1% 2%;
     width : 100px;
     color: #fff;
     background-color: #eba91c; 
     border: none;
     border-radius: 5px;     
    outline: none;
}
.savebtn {
    position : relative;
    left : 80%;
    font-size: 15px;
    padding: 1% 2%;
    width : 100px;
    color: #fff;
    background-color: rgb(53, 184, 53) ;
    border: none;
    border-radius: 5px;     
    outline: none;

}

.editbtn:focus , .savebtn:focus {
    outline : none;
}
.hide {
    display : none
}

.show {
    display : block
}