.container {
    display : flex;
    padding : 2% 0  0 2%;
    border-bottom : 1px solid #ebe3e3;
    background-color: #fff;
    margin-bottom: 5%;

}

.commentSection {
    border : 1px solid #ebe3e3;
    height : 100%;
    display: flex;
    align-items: center;
}


.eachComment {
  font-size:  11px;
  display: block;
  color : #817d7d;
  line-height: 20px;
}
.eachComment strong {
    color : black;
}
.comments {
    margin : 2% 0;
}

.comments h6 {
    font-size : 14px;
}

.comments p {
    font-size : 12px;
    cursor: pointer;
}

.comments p:hover {
    color : green
}


.outercontainer {
    height : 700px;
    overflow-y: scroll;
    background-color: #f2f2f2;
}


.outercontainer::-webkit-scrollbar {
    width: 5px;
  }


.outercontainer::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 5px;
  }


.outercontainer::-webkit-scrollbar-thumb {
    background-color: #faac0598;
    border-radius: 10px;
  }

.container p {
    margin : 0;
}

.imagediv {
    height : 300px;
    width : 100%;
    padding : 0 2% 2% 0;
    border-radius: 5px;
    display: flex;
}
.content {
    flex-basis: 90%;
    display: flex;
    flex-direction: column;
   
}
.imagediv img{
    height: 100%;
    width: 100%;
    border-radius: 5px;
    
}

.date {
    flex-basis: 10%;
}

.date p {
    font-size : 35px;
    width : 100%;
    line-height: 29px;
    font-weight: lighter;
    font-style: italic;
    overflow-wrap: break-word;
}

.slash {
    font-size: 15px;
}
.dt {
    color : rgb(177, 170, 170)
}

.userInfo {
    display : flex;
    width : 100%; 
    margin-top: 2%;
    
}

.userInfo p {
    width: 100%;
}

.email {
    margin-left : 2%;
    color : rgb(167, 157, 157)
}

.caption {
    font-size : 13px;
}
.time {
    font-size : 12px;
    margin-left : 3%;
    color : gray;
}

.time::before {
    content : ".";
    
    margin-right: 2px;
}

.like {
    display : flex;
    justify-content: flex-end;
    align-items : center;
    margin-top : 2%;
}
.like * {
    margin : 2% 3%;
}

.like p {
    font-size : 12px;
    color : rgb(165, 161, 161)
}

.likebtn {
    background-color: transparent;
    border : none;
    
}

.postButton {
   
    background: none;
    border : none;
    color : #0095f6;
    font-weight: bold;
    margin-right : 1%;
    
}

.postButton:disabled {
    color : #78b9e4;
}


.likebtn:focus , .postButton:focus {
    outline: none;
}
.orange {
    color : #faac05;
}

.gray {
    color : gray
}

.editMenu {
    position: relative;
    z-index: 500;
    left : 90%;
    width : 10%;
    cursor : pointer;
    color : gray
}
.postMenu {
    position : absolute;
    z-index : 1000;
    left : -200px;
    opacity: 0;
}
.postMenu li{
    position: absolute;
    height : 30px;
    width : 150px;
    list-style: none;
    background-color: #fff;
    border : 1px solid gray;
    cursor: pointer;
    z-index: 5000;
}
.Hide {
    display: none; 
}
.Show {
   
    display : block;
    opacity: 1;
    transition: all 0.5s ease;

}
@media (max-width : 600px) {

    .date p {
        font-size: 25px;
    }
    .slash {
        font-size: 10px;
    }
}

@media (max-width : 475px) {

    .date  {
        display: none;
    }

    .container {
        justify-content: center;
    }
    .content {
        flex-basis: 100%;
    }

    .userInfo span {
        display: block;
        margin-left : 0;
    };
}