
.Open  {
    color :  red;
    cursor: pointer;
}
.InProgress  {
    color : blue;
    cursor: pointer;
}
.Resolved {
    color : green;
    cursor: pointer;
}

.Open select {
    color : red;
    cursor: pointer;
}


.InProgress select{
    color : blue;
    cursor: pointer;
}

.Resolved select {
    color : green;
    cursor: pointer;
}

.tableBody td , th {
    text-align: center;
    padding : 1% 5% ;
    font-size: 14px;
    
}

.prevbtn {
    background-color: transparent;
    color : #faad05;
    border : none;
}

.prevbtn:hover {
     text-decoration: underline;
}

.prevbtn:focus {
    outline : none;
}

.downicon {
    position : relative ;
     top : -20px;
     left : 50px;
     color : #faad05;     
}

.pages {
    display: flex;
    justify-content: center;
}
@media (max-width : 1000px) {
    .container{
        overflow-x: scroll;
    }
}

@media (max-width : 700px) {

    .tableBody td , th {
        padding : 1% 2%;
    }
   

    .downicon {
        left : 45px;
    }

}

@media (max-width : 500px) {
  
.tableBody td , th {
    font-size: 17px;
}
}